.dialogWrap {
	width: 100%;
	height: 90px;
	text-align: center;
	word-break: break-all;
	display: flex;
	flex-direction: row;
	color: black;
	border-radius: 2px;
	box-sizing: border-box;
	border: 1px solid black;
	padding: 5px;
	background-color: #f8fff4;
	cursor: pointer;
}

.textContent {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding-left: 32px;
}

.dialogName {
	width: 100%;
	height: 40%;
	justify-content: center;
	text-align: left;
	font-size: small;
}

.dialogAvatar {
	display: flex;
	height: 90%;
	width: 30%;
	border-radius: 80px;
	margin-top: auto;
	margin-bottom: auto;
	background: url(https://cdn.iconscout.com/icon/free/png-256/avatar-367-456319.png) no-repeat center center;
	/* background: red; */
	border: 1px solid gray;
	background-size: 125%;
}

.status {
	float: right;
	height: 100%;
	width: 20%;
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.messageTime {
	width: 100%;
	height: 50%;
	text-align: right;
	font-size: small;
}

.lastMessage {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 60%;

}

.messageStatus {
	width: 100%;
	height: 50%;
}
