::-webkit-scrollbar {
	width: 0px;
}
.messageWrap{
    padding-top: 60px;
	list-style: none;
	width: 100%;
	height: 100%;
	background-color: #373338;
	background-size: 50px;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow: hidden;
	overflow-y: scroll;
}
.messageBox{
    display: inline-block;
	border-radius: 5px;
	padding: 10px;
	text-align: justify;
	max-width: 60%;
	word-break: break-all;
    box-sizing: border-box;
    display: flex;
    background-color: #f4d3ee;
	flex-direction: column;
	/*overflow: hidden;*/
	width: 100%;
	padding: 0 10px 0 10px;
	animation-name: smoothDrop;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes smoothDrop {
	from {
		transform: translate(-100%) scaleX(0)
	}
	to {
		transform: translate(0) scaleX(1)
	}
}