.messageBox {
	/* float: right; */
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0 5px 0;
    max-width: 40%;
    word-break: break-all;
    background-color: #f4d3ee;
    width: 100%;
	padding: 0 10px 0 10px;
	animation-name: smoothDrop;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes smoothDrop {
	from {
		transform: translate(-100%) scaleX(0)
	}
	to {
		transform: translate(0) scaleX(1)
	}
}


.messageBox .time{
	width: 100%;
	text-align: right;
	padding-top: 5px;
	color: black;
	font-size: small;
}
.messageBox .text{
  padding-top: 5px;
  text-align: justify;
	color: black;
}
