*{
	box-sizing: border-box;
}
li{
	/* margin-top: 10px;
	padding-bottom: 100px; */
	list-style: none;
}

.messageBox .time{
	width: 100%;
	text-align: right;
	margin-top: 5px;
	color: #727272;
	font-size: small;
}
.messageBox .text{
	float: right;
	background-color: #f4d3ee;
	color: #727272;
}
